# VS Code config
.vscode

# Terraform
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Environment Variables
.env*

# Scratchpad
scratchpad.txt

# Archive files
*.zip

# Mac...
.DS_Store
