.backgroundHP {
  background-color: #aad3df;
}

.title {
  color: #cb9d45;
  -webkit-text-stroke: 2px black;
  text-shadow: 0px 2px 0px black;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 5vh;
  padding: 2%;
}

.mapContainer {
}

.totalDistancesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
}

.teamOneDistanceContainer {
  background-color: #d5e7cf;
  border-radius: 12px;
  padding: 2%;
  margin: 2%;
  font-weight: 400;
  width: 30%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamTwoDistanceContainer {
  background-color: #c5eeee;
  border-radius: 12px;
  padding: 2%;
  margin: 2%;
  font-weight: 400;
  width: 30%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamThreeDistanceContainer {
  background-color: #efd1d1;
  border-radius: 12px;
  padding: 2%;
  margin: 2%;
  font-weight: 400;
  width: 30%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.teamName {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex: center;
  align-items: center;
  justify-content: center;
  font-size: 2.3vh;
}

.teamDistance {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6vh;
  text-decoration: none;
  color: black;
}

.topLineButtons {
  display: flex;
  margin: 2%;
  margin-bottom: 3%;
}

.bottomLineButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.claimRouteButtonContainer {
  width: 65%;
  margin-left: 1.25%;
  margin-right: 1.25%;
}

.claimRouteButton {
  background-color: #ffcd00;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0px 4px 0px black;
  padding: 3%;
  width: 100%;
  height: 9vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 2.3vh;
  transition: background-color 0.3s ease;
}

.claimRouteButton:hover {
  background-color: #cb9d45;
}

.unclaimRouteButtonContainer {
  width: 30%;
  margin-left: 1.25%;
  margin-right: 1.25%;
}

.unclaimRouteButton {
  background-color: #ffcd00;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0px 4px 0px black;
  padding: 3%;
  width: 100%;
  height: 9vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.7vh;
  transition: background-color 0.3s ease;
}

.unclaimRouteButton:hover {
  background-color: #cb9d45;
}

.claimBonusSiteButtonContainer {
  margin-left: 1.17%;
  margin-right: 1.17%;
  width: 31%;
}

.claimBonusSiteButton {
  background-color: #ffcd00;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0px 4px 0px black;
  padding: 3%;
  width: 100%;
  height: 9vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.7vh;
  transition: background-color 0.3s ease;
}

.claimBonusSiteButton:hover {
  background-color: #cb9d45;
}

.shareLocationButtonContainer {
  margin-left: 1.17%;
  margin-right: 1.17%;
  width: 31%;
}

.shareLocationButton {
  background-color: #ffcd00;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0px 4px 0px black;
  padding: 3%;
  width: 100%;
  height: 9vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.7vh;
  transition: background-color 0.3s ease;
}

.shareLocationButton:hover {
  background-color: #cb9d45;
}

.drawScrewYouCardButtonContainer {
  margin-left: 1.17%;
  margin-right: 1.17%;
  width: 31%;
}

.drawScrewYouCardButton {
  background-color: #ffcd00;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0px 4px 0px black;
  padding: 3%;
  width: 100%;
  height: 9vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.7vh;
  transition: background-color 0.3s ease;
}

.drawScrewYouCardButton:hover {
  background-color: #cb9d45;
}
