.backgroundHDL {
  background-color: #aad3df;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.containerHDL {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoL {
  width: 13vw;
  max-width: 80px;
  margin: 8%;
}
