@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

.Column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.justifyRight {
    justify-content: right;
}

.Greeting {
    justify-self: center;
}

.SignoutButton {
    padding: 10px 20px;
    color: rgb(36, 114, 224);
    font-weight: 700;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(36, 114, 224);
    background: none;
    margin: 20px;

    &:hover {
        background-color: rgb(36, 114, 224);
        color: white;
    }
}